* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(20, 199, 95) 50%,
    rgba(20, 199, 95) 50%
  );
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: white;
  font-size: 25px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 17px;
  border: 1px solid whitesmoke;
  background-color: rgb(241, 124, 124);
  padding: 2%;
  border-radius: 10%;
}
.logo:hover {
  background-color: rgb(246, 246, 113);
  transition: 1s;
  color: black;
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 0 13px 26px -9px rgba(166, 111, 214);
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  color: #000;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}
.content {
  width: 1000px;
  height: 640px;
}
.p2 {
  width: 75%;
  height: 635px;
  margin-left: 0;
}
.p2 h1 {
  margin-left: 20px;
}
.p2 span {
  color: rgb(246, 234, 8);
}
.p2 .par {
  font-family: cursive;
  font-size: 20px;
  margin-left: 20px;
}
.par2 {
  font-family: cursive;
  font-size: 20px;
  line-height: 50px;
  margin-left: 20px;
  padding: 10px;
}
.form {
  width: 69%;
  height: 636px;
  margin-top: -63.5%;
  margin-left: 75%;
  background-repeat: no-repeat, repeat;
  background-size: 680px 636px;
  opacity: 0.7;
  background-color: #cccccc;
  background-image: url("/Users/harish/Desktop/land rover/books-still-life-cartoon-style.jpg");
}

.signin {
  width: 200px;
  height: 70px;
  color: white;
  background-color: rgb(94, 171, 209);
  border-radius: 30px;
  margin-left: 90px;
  font-size: 45px;
}
.signup {
  width: 200px;
  height: 70px;
  color: white;
  background-color: rgb(94, 171, 209);
  border-radius: 30px;
  margin-left: 90px;
  font-size: 45px;
}
.signup:hover {
  background-color: rgba(203, 209, 132);
}
.signin:hover {
  background-color: rgba(203, 209, 132);
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin-left: 35%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-links {
  text-align: center;
  font-size: 25px;
}

.quick-links h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.quick-links ul {
  list-style: none;
  padding: 0px;
  color: #ff7200;
  font-size: 65px;
  line-height: normal;
}

.quick-links li {
  margin: 5px 0;
  padding-left: 40%;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
}

.quick-links a:hover {
  text-decoration: underline;
}
